.rocket {
  display: flex;
  gap: var(--fs-1);
}

.rocket__image {
  width: 30%;
}

.rocket__info {
  display: flex;
  flex-direction: column;
  gap: var(--fs-1);
}

.rocket__info h2 {
  font-size: var(--fs-2);
}

.rocket__info p {
  font-size: 1.2rem;
}

.rocket__reserve {
  background-color: #007bff;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: var(--fs-1);
  border: none;
  border-radius: 5px;
}
